<%= simple_form_for(@contact) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :lastmeet, class: 'form-control' %>
    <%= f.full_error :token %>
  </div>

  <div class="form-group">
    <%= f.input :frequency, class: 'form-control' %>
  </div>

  <%= f.input :photo, as: :file %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
